In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'

In [ ]:
webpage=requests.get(url)

In [ ]:
soup=BeautifulSoup(webpage.text,'html')

In [ ]:
soup.find_all('table',class_='wikitable sortable')

In [95]:
table2=soup.find_all('table',class_='wikitable sortable')[1]

In [96]:
india_largestcompanies_header=table2.find_all('th') #Returns header of table2 with tags

In [97]:
india_largestcompanies_titles=[title.text.strip() for title in india_largestcompanies_header]

In [ ]:
import pandas as pd

In [98]:
df=pd.DataFrame(columns=india_largestcompanies_titles)

In [99]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue(in  ₹ Crore), Revenue growth, Profits(in  ₹ Crore), Headquarters, State Controlled]
Index: []

In [100]:
table2_data=table1.find_all('tr') #header too included

In [101]:
for row in table1_data[1:]: #to fetch row data
    row_data=row.find_all('td')
    individual_row_data=[data.text.strip() for data in row_data]
    #print(individual_row_data)
    
    len_df=len(df)
    df.loc[len_df]=individual_row_data

In [102]:
df

,Rank,Name,Industry,Revenue(in ₹ Crore),Revenue growth,Profits(in ₹ Crore),Headquarters,State Controlled
0,1,Reliance Industries Limited,Oil and gas,"920,274",25%,"66,702",Mumbai,
1,2,Indian Oil Corporation,Oil and gas,"872,093",25%,"9,792",New Delhi,Yes
2,3,Life Insurance Corporation,Insurance,"792,427",9%,"35,997",Mumbai,Yes
3,4,Oil and Natural Gas Corporation,Oil and gas,"638,965",27%,"35,440",New Delhi,Yes
4,5,Bharat Petroleum,Oil and gas,"477,855",34%,"2,131",Mumbai,Yes
5,6,State Bank of India,Banking,"473,378",16%,"55,648",Mumbai,Yes
6,7,Tata Motors,Automotive,"357,317",28%,"2,414",Mumbai,
7,8,Tata Steel,Iron and steel,"248,374",2%,"8,760",Mumbai,
8,9,Tata Consultancy Services,Infotech,"228,907",17%,"42,147",Mumbai,
9,10,Hindalco Industries,Metals and mining,"221,268",7%,"10,097",Mumbai,
10,11,HDFC Bank,Banking,"204,666",22%,"45,997",Mumbai,
11,12,Larsen & Toubro,Capital goods,"189,563",18%,"10,471",Mumbai,
12,13,ICICI Bank,Banking,"186,179",18%,"34,037",Mumbai,
13,14,NTPC Limited,Utilities,"178,906",30.0%,"16,913",New Delhi,Yes
14,15,JSW Steel Ltd,Iron and steel,"170,217",12%,"4,144",Mumbai,
15,16,HDFC,Financials,"164,163",13%,"26,161",Mumbai,
16,17,Vedanta Resources,Metals and mining,"151,289",8%,"10,574","London, UK",
17,18,GAIL,Oil and gas,"150,505",57%,"5,616",New Delhi,Yes
18,19,Infosys,Infotech,"145,481",21%,"28,165",Bangalore,
19,20,Coal India,Metals and mining,"145,481",31%,"28,165",Kolkata,Yes
20,21,Bharti Airtel,Telecommunication,"140,834",15%,"8,346",New Delhi,
21,22,Mahindra & Mahindra,Automotive,"129,004",37%,"10,282",Mumbai,
22,23,Grasim Industries,Diversified,"122,283",24%,"6,827",Mumbai,
23,24,Maruti Suzuki India,Automotive,"120,293",33%,"8,211",New Delhi,
24,25,Nayara Energy,Oil and gas,"116,240",19%,"9,426",Mumbai,
25,26,Steel Authority of India,Iron and steel,"111,501",6%,"2,177",New Delhi,Yes
26,27,Canara Bank,Banking,"111,210",18%,"11,255",Bangalore,Yes
27,28,Bank of Baroda,Banking,"110,778",26%,"14,905",Vadodara,Yes
28,29,Axis Bank,Banking,"106,155",23%,"10,818",Mumbai,Yes
29,30,HCL Technologies,Infotech,"102,881",19%,"14,851",Noida,
30,31,Punjab National Bank,Banking,"99,374",12%,"3,348",New Delhi,Yes
31,32,Union Bank of India,Banking,"97,079",19%,"8,512",Mumbai,Yes
32,33,Wipro,Infotech,"92,738",14%,"11,350",Bangalore,
33,34,Uttar Pradesh Power Corporation,Utilities,"90,272",12%,"−15,859",Lucknow,Yes
34,35,Bajaj Finserv,Financials,"82,073",20%,"6,417",Pune,
35,36,Motherson Sumi Systems,Automotive,"79,281",23%,"1,496",Noida,
36,37,Power Finance Corporation,Financial services,"77,625",2%,"15,889",New Delhi,Yes
37,38,ITC Limited,Consumer goods,"73,398",16%,"19,192",Kolkata,
38,39,Kotak Mahindra Bank,Banking,"68,142",16%,"14,925",Mumbai,
39,40,IFFCO,Agriculture,"63,386",46%,"3,053",New Delhi,Yes
40,41,Hyundai Motor India,Automotive,"61,572",28%,"4,709",Gurgaon,
41,42,Hindustan Unilever,Consumer goods,"61,342",16%,"10,120",Mumbai,
42,43,Tata Power,Utilities,"61,080",32%,"3,336",Mumbai,
43,44,Petronet LNG,Oil and gas,"60,560",39%,"3,326",New Delhi,Yes
44,45,IndiGo,Airline,"55,883",110%,−306,Gurgaon,
45,46,Bank of India,Banking,"55,100",19%,"3,838",Mumbai,Yes
46,47,Adani Wilmar,Food processing,"54,471",1%,582,Ahmedabad,
47,48,Tech Mahindra,Infotech,"54,255",19%,"4,831",Pune,
48,49,UPL,Chemicals,"54,210",16%,"3,570",Mumbai,
49,50,Jindal Steel and Power,Iron and steel,"54,194",4%,"3,174",New Delhi,

In [103]:
df.to_csv(r'D:\Jayashankari\Abhyaz\WebScrap\IndiaLargestCompaniesFortuneList.csv')